<div class="flex flex-col  min-h-screen">
    <div class="bg-rose-800">
        <div class="container mx-auto py-8 pl-10">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-6">
                    <h2 class="text-2xl text-white font-bold mb-2">Book Your Dream Room</h2>
                    <p class="text-white text-opacity-75 mb-4">Choose from a variety of comfortable and modern rooms
                        tailored to your needs.</p>
                    <a class="bg-white text-rose-800 py-2 px-4 rounded-full font-bold hover:bg-rose-300 hover:text-white transition-colors duration-300 ease-in-out"
                        href="#" role="button">Explore Rooms</a>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-6">
                    <h2 class="text-2xl text-white font-bold mb-2">Connect with Roommates</h2>
                    <p class="text-white text-opacity-75 mb-4">Join a vibrant community of students and make lasting
                        connections during your stay.</p>
                    <a class="bg-white text-rose-800 py-2 px-4 rounded-full font-bold hover:bg-rose-300 hover:text-white transition-colors duration-300 ease-in-out"
                        href="#" role="button">Find Roommates</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <!-- <div class="bg-gray-200 p-4">
            <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-md" placeholder="Search for rooms" />
        </div> -->
        <div class="bg-slate-300 p-4 py-5 flex items-center">
            <select class="w-full h-10 px-4 py-2 rounded-md">
                <option disabled selected hidden>Select a floor</option>
                <option>Ground Floor</option>
                <option>Floor 1</option>
                <option>Floor 2</option>
            </select>
            <button class="ml-2 w-fit bg-rose-800 text-white flex items-center py-2 px-4 rounded-md">
                <img class="mr-2" src="assets/svg/search.svg" alt="Search" />
                Search
            </button>
        </div>

        <div class="flex flex-wrap justify-center">
            <ng-container *ngFor="let room of rooms; let i = index">
                <div>
                    <div (click)="toggleModel(i)" class="w-64 h-48 m-4 p-4 bg-white shadow-md rounded-lg">
                        <h2 class="text-xl font-semibold">Room {{ i + 1 }}</h2>
                        <p>
                            Type:
                            <ng-container *ngIf="room.type === 1; else twoInRoom">
                                3-in-a-room
                            </ng-container>
                            <ng-template #twoInRoom>
                                2-in-a-room
                            </ng-template>
                        </p>
                        <p class="mt-2 flex flex-wrap">
                            <span *ngIf="room.hasTv" class="px-2 m-1 bg-white border-2 border-black rounded-full font-semibold">
                                <span class="text-gray-700 text-sm" title="TV">TV 📺</span>
                            </span>
                            <span *ngIf="room.hasFridge" class="px-2 m-1 bg-white border-2 border-black rounded-full font-semibold">
                                <span class="text-gray-700 text-sm" title="Fridge">Fridge 🧊</span>
                            </span>
                            <span *ngIf="room.hasFan" class="px-2 m-1 bg-white border-2 border-black rounded-full font-semibold">
                                <span class="text-gray-700 text-sm" title="Fan">Fan 🪭</span>
                            </span>
                            <span *ngIf="room.hasKitchen" class="px-2 m-1 bg-white border-2 border-black rounded-full font-semibold">
                                <span class="text-gray-700 text-sm" title="Kitchen">Kitchen 🧑🏽‍🍳</span>
                            </span>
                            <span *ngIf="room.hasBathroom" class="px-2 m-1 bg-white border-2 border-black rounded-full font-semibold">
                                <span class="text-gray-700 text-sm" title="Bathroom">Bathroom 🛁</span>
                            </span>
                        </p>
                    </div>
    
                    <!-- Modal -->
                    <div 
                        class="fixed inset-0 flex items-center justify-center z-50 bg-transparent backdrop-blur-md"
                        *ngIf="isModalOpen[i]"
                        (click)="closeModal($event, i)"
                    >
                        <div class="bg-white p-6 rounded-md max-w-md" (click)="preventClose($event)">
                            <h2 class="text-xl font-semibold">Room {{ i + 1 }}</h2>
                            <p class="mt-2">{{ roomDescription }}</p>
    
                            <h3 class="mt-4 text-lg font-semibold">Interested People:</h3>
                            <ul class="mt-2">
                                <li *ngFor="let person of interestedPeople">{{ person.alias }}</li>
                            </ul>
    
                            <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md" (click)="showInterests()">
                                Show Interests
                            </button>
    
                            <button class="mt-4 px-4 py-2 bg-green-500 text-white rounded-md" (click)="bookRoom()">
                                Book Room and Proceed to Payment
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>